@charset "UTF-8";

/* 노팅힐 메인 이미지 */
.main_image {
	width: 30%;
	height: auto;
	display: block;
	margin: auto;
}

.layout_customer {
	position: relative;
	color: #999;
	padding: 0 5px;
	font-size: 17px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #353535;
	transition: all 0.15s ease-in-out;
	box-sizing: border-box !important;
}