@charset "UTF-8";

/* 헤더 고정 */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
}

.nav {
	margin-bottom: 45px;
}

/* 노팅힐 메인 이미지 */
.main_image {
	width: 30%;
	height: auto;
	display: block;
	margin: auto;
}

/* 상단 부분 */
.layout_customer {
	/* position: relative; */
	color: #999;
	padding: 0 3rem;
	margin-left: 60rem;
}

/* 카테고리 부분 */
.layout_category {
	/* position: relative; */
	color: #999;
	padding: 0 14px;
}

a {
	text-decoration: none;
	color: #353535;
	transition: all 0.15s ease-in-out;
	box-sizing: border-box !important;
}

/* 공통 */
ul li {
	list-style-type: none; /* 앞에 점 없애기 */
	float: left; /* 세로로 되어있는 것을 가로로 */
}

.layout_category ul li {
	margin-left: 200px;
}

.layout_customer ul li {
	margin-left: 10px;
}